
.login-bg {
	background: url(../images/hero.jpg) no-repeat;
	background-size: cover;
	height: auto !important;
	height: 100%;
}

html {
	height: 100%;
}
hr {
	border-color: #DED7D7;
	margin-top:10px;
}

.login-main {
	background-color: rgba(0, 0, 0, 0.25);
	width: 100%;
	height: 400px;
	margin-top: 15%;
	margin-bottom: 10%;
}

.form-body {
	max-width: 330px;
	margin: 5% auto;
}

.register {
	max-height: 600px;
	padding: 50px 0px;
	margin-top:70px;
	background-color: #1ABC9C;
}

.register .icon {
	text-align: center;
	margin-top: 30px;
}

.icon img {
	width: 100px;
}

.icon h4 {
	font-size: 17px;
	font-weight: 300;
	line-height: 34px;
	opacity: 0.95;
}

.icon h4 small {
	display: block;
	font-size: inherit;
	font-weight: 700;
	color: inherit;
}

.register .login-form {
	max-width: 330px;
	margin: 30px auto;
}

.footer {
	margin-top: 30px;
	width: 100%;
	height: 300px;
	background-color: #0C293F;
}

.footer h1 {
	font-size: 20px;
}

.foot-header {
	font-weight: bold;
}

.footer ul {
	font-size: 14px;
}

.footer a {
	color: #809CB0;
}


ul {
	list-style: outside none none;
	margin: 0px;
	padding: 0px;
}

.attention ul li {
	float: left;
	padding-right: 10px;
}

.attention ul li a {
	display: block;
	width: 42px;
	height: 42px;
	border-radius: 100px;
	cursor: pointer;
	background: none repeat scroll 0% 0% #061D2E;
	text-align: center;
	line-height: 42px;
	transition: All 0.4s ease-in-out;
	-webkit-transition: All 0.4s ease-in-out;
	-moz-transition: All 0.4s ease-in-out;
	-o-transition: All 0.4s ease-in-out;
}

.attention ul li a:hover {
	color: white;
	background: none repeat scroll 0% 0% #3E637E;
}

.copyright {
	color: #809CB0;
	font-size: 14px;
}

.header {
	margin-top: 52px;
	background-attachment: scroll, scroll, fixed;
	background-image: url("/images/top-3200.svg"),
		url("/images/overlay.png"), url("/images/header.jpg");
	background-position: bottom center, top left, center center;
	background-repeat: repeat-x, repeat, no-repeat;
	background-size: 3200px 460px, auto, cover;
	color: rgba(255, 255, 255, 0.8);
	padding: 5em 0 20em 0;
	position: relative;
	text-align: center;
	height: 700px;
}

.header:before {
	height: calc(100% -   50px);
	opacity: 0.15;
	top: 0;
}

.header:before,.header:after {
	background: rgba(224, 224, 224, 0.75);
	content: '';
	left: 50%;
	position: absolute;
	width: 1px;
	z-index: 0;
}

.header .logo {
	background: #4eb980;
	border-radius: 100%;
	color: white;
	cursor: default;
	display: inline-block;
	font-size: 2.25em;
	height: 2.35em;
	line-height: 2.35em;
	margin: 0 0 0.75em 0;
	text-align: center;
	width: 2.35em;
}

.header h1 {
	font-size: 2.25em;
}
.main {
	margin-top: 51px;
}

.contents {
	padding:5px 15px;
	background-color: #fff;
	border-radius:5px;
}
@media screen and (max-width: 800px) {
	.footer {
		height:420px;
	}
	.about li,.hb li{
		width:50%;
		float:left;
	}
}
.desc {
	background-attachment: scroll, fixed;
	background-image: url("/images/black.png"), url(../images/footer-photo1.jpg);
	background-position: center center, center center;
	background-repeat: repeat, no-repeat;
	background-size:  auto auto, cover;
	color: rgba(255, 255, 255, 0.8);
	padding: 10em 0 10em 0;
	position: relative;
	text-align: center;
	height: 560px;
}
.desc .content {
	background: none repeat scroll 0% 0%;
}
.content .btn {
	box-shadow: none !important;
	transform: translate3d(0px, 0px, 0px);
	text-transform: uppercase;
	letter-spacing: 0.14em;
	padding: 10px 20px;
	font-size: 14px;
	margin-top:20px;
}
blockquote {
	border-left: 3px solid #1193C6;
	margin:15px 2px;
}
.citys {
	margin-right:50px;
}
.citys small{
	margin-right:15px;
}
.citys .dropdown-menu {
	min-width:100px;
}
.citys .other {
	cursor:pointer;
}

.job-list {
	padding:5px 15px;
}
.job-list .job {
	margin-left:10px;
	color:#808080;
}
.job-list .date {
	float:right;
}
.company-info {
	background:#E7E7E7;
	padding:20px 10px;
}
.company-logo img{
	padding: 10px 18px;
}
.company-info .description {
	margin-top:20px;
	text-indent: 2em;
}
.company-info .attention {
	margin-top:10px;
}
.main .content {
	padding-top:20px;
}
.recommend-article .picture a{
	display: block;
	width:100%;
}
.picture a img {
	width:100%;
}
.sort {
	margin-top:10px;
}
.sort .left {
	float:left;
}
.sort .right {
	float:right;
	cursor:pointer;
}
.sort .dropdown-menu {
	min-width:100px;
	margin-top:0px;
}
.artiles-list {
	margin-top:20px;
}
.digest {
	text-indent: 2em;
}
.userhead {
	margin-top:20px;
}
.signature p {
	text-indent: 2em;
}
.job {
	background-color: #F0F0F0;
}
.job-info {
	padding-top:50px;
	
}
.job-desc {
	padding:0px 20px 20px 20px;
}
.salary {
	color:#FF7F00;
}
.job-desc p span {
	padding:0px 5px;
}
.job-desc .date {
	padding:0px 5px;
}
.job-desc .description {
	text-indent: 2em;
}
.base-info {
	padding:0px 10px 10px 10px;
}
.address {
	color:#2980b9;
	padding:0px 5px;
}
.department {
	color:#e67e22;
	padding:0px 5px;
}
.job-description {
	padding-left:10px;
}
.job-condition {
	padding-left:10px;
}
.key {
	color:#999;
}
.job-info .company {
	text-indent: 2em;
	font-size:14px;
}
.intent-btn {
	margin-top:15px;
}
.indent {
	text-indent:2em;
}
.talk {
	background-color: #C2E2F2;
	text-indent:1em;
	padding:5px 5px;
	border-radius: 5px;
	position:relative;
}
.talk span{
	display: inline-block;
	position: absolute;
	left: -8px;
	top: 10px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid #C2E2F2;
}
.talk p {
	font-size:13px;
}
.message {
	margin-top:10px;
}
.state {
	position: relative;
	float:right;
}
